<a href="https://colab.research.google.com/github/cebisiles/unsupervised-predict-streamlit-template/blob/master/Group_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [1]:
# Import libraries
import numpy as np
import pandas as pd

# Reading ratings file
ratings = pd.read_csv('https://raw.githubusercontent.com/cebisiles/unsupervised-predict-streamlit-template/master/resources/data/ratings.csv')

# Reading users file
#users = pd.read_csv('users.csv', sep='\t', encoding='latin-1', usecols=['user_id', 'gender', 'zipcode', 'age_desc', 'occ_desc'])

# Reading movies file
movies = pd.read_csv('https://raw.githubusercontent.com/cebisiles/unsupervised-predict-streamlit-template/master/resources/data/movies.csv')

In [2]:
movies.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [3]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [4]:
n_users = ratings.userId.unique().shape[0]
n_movies = ratings.movieId.unique().shape[0]
print('Number of users = ' + str(n_users) + ' | Number of movies = ' + str(n_movies))

Number of users = 671 | Number of movies = 9066

In [5]:
ratings = ratings.sample(10000)

In [6]:
Ratings = ratings.pivot(index = 'userId', columns ='movieId', values = 'rating').fillna(0)
Ratings.head()

movieId  1       2       3       4       ...  152077  152081  152173  160438
userId                                   ...
1           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
2           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
3           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
4           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
5           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0

[5 rows x 3536 columns]

In [7]:
R = Ratings.to_numpy()
user_ratings_mean = np.mean(R, axis = 1)
Ratings_demeaned = R - user_ratings_mean.reshape(-1, 1)

In [8]:
sparsity = round(1.0 - len(ratings) / float(n_users * n_movies), 3)
print('The sparsity level of Movie dataset is ' +  str(sparsity * 100) + '%')

The sparsity level of Movie dataset is 99.8%

In [9]:
from scipy.sparse.linalg import svds
U, sigma, Vt = svds(Ratings_demeaned, k = 50)

In [10]:
sigma = np.diag(sigma)

In [11]:
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_ratings_mean.reshape(-1, 1)

In [12]:
preds = pd.DataFrame(all_user_predicted_ratings, columns = Ratings.columns)
preds.head()

movieId    1         2         3       ...    152081    152173    160438
0       -0.095837  0.009523 -0.009002  ... -0.002067 -0.000750 -0.001555
1        0.035387 -0.001143  0.032560  ... -0.007415 -0.004083 -0.004525
2       -0.035733 -0.027796 -0.056808  ... -0.013089  0.058502  0.027788
3       -0.533039  0.282771  0.298022  ... -0.033698  0.054358 -0.014501
4        0.012576 -0.016245  0.096059  ...  0.019523 -0.005484 -0.005228

[5 rows x 3536 columns]

In [13]:
def recommend_movies(predictions, userID, movies, original_ratings, num_recommendations):
    
    # Get and sort the user's predictions
    user_row_number = userID - 1 # User ID starts at 1, not 0
    sorted_user_predictions = preds.iloc[user_row_number].sort_values(ascending=False) # User ID starts at 1
    
    # Get the user's data and merge in the movie information.
    user_data = original_ratings[original_ratings.userId == (userID)]
    user_full = (user_data.merge(movies, how = 'left', left_on = 'movieId', right_on = 'movieId').sort_values(['rating'], ascending=False))

    print('User {0} has already rated {1} movies.'.format(userID, user_full.shape[0]))
    print('Recommending highest {0} predicted ratings movies not already rated.'.format(num_recommendations))
    
    # Recommend the highest predicted rating movies that the user hasn't seen yet.
    recommendations = (movies[~movies['movieId'].isin(user_full['movieId'])].merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left',left_on = 'movieId',right_on = 'movieId').rename(columns = {user_row_number: 'Predictions'}).sort_values('Predictions', ascending = False).iloc[:num_recommendations, :-1])

    return user_full, recommendations

In [14]:
already_rated, predictions = recommend_movies(preds, 89, movies, ratings, 20)

User 89 has already rated 7 movies.
Recommending highest 20 predicted ratings movies not already rated.

In [15]:
already_rated.head(20)

   userId  ...                                             genres
0      89  ...                                             Comedy
1      89  ...                        Action|Crime|Drama|Thriller
3      89  ...                               Drama|Horror|Mystery
4      89  ...                            Adventure|Drama|Western
5      89  ...                            Action|Adventure|Sci-Fi
6      89  ...                                       Comedy|Drama
2      89  ...  Adventure|Animation|Children|Comedy|Crime|Fant...

[7 rows x 6 columns]

In [16]:
predictions

       movieId  ...                             genres
351        356  ...           Comedy|Drama|Romance|War
33          34  ...                     Children|Drama
2606      2700  ...           Animation|Comedy|Musical
2478      2571  ...             Action|Sci-Fi|Thriller
535        541  ...             Action|Sci-Fi|Thriller
7022      7153  ...     Action|Adventure|Drama|Fantasy
108        110  ...                   Action|Drama|War
289        293  ...        Action|Crime|Drama|Thriller
583        593  ...              Crime|Horror|Thriller
582        592  ...              Action|Crime|Thriller
2612      2706  ...                     Comedy|Romance
1664      1732  ...                       Comedy|Crime
2303      2396  ...               Comedy|Drama|Romance
635        648  ...  Action|Adventure|Mystery|Thriller
1638      1704  ...                      Drama|Romance
1106      1136  ...           Adventure|Comedy|Fantasy
228        231  ...                   Adventure|Comedy
23004   116797  ...                 Drama|Thriller|War
1557      1617  ...   Crime|Film-Noir|Mystery|Thriller
13375    69122  ...                       Comedy|Crime

[20 rows x 3 columns]

In [18]:
!pip install surprise

Collecting surprise
  Downloading surprise-0.1-py2.py3-none-any.whl (1.8 kB)
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 11.8 MB 6.0 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.1.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.19.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1623210 sha256=dd1349c79a55046a043617f8ba9abea185e65df677259743e3a95180da83712e
  Stored in directory: /root/.cache/pip/wheels/76/44/74/b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.1 surprise-0.1

In [19]:
# Import libraries from Surprise package
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate

# Load Reader library
reader = Reader()

# Load ratings dataset with Dataset library
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)

In [20]:
# Use the SVD algorithm.
svd = SVD()

# Compute the RMSE of the SVD algorithm.
cross_validate(svd, data, measures=['RMSE'], cv = 5)

{'fit_time': (1.3558433055877686,
  1.0854613780975342,
  1.6819124221801758,
  1.428421974182129,
  0.9756920337677002),
 'test_rmse': array([0.97114759, 0.99613855, 0.96687516, 0.94485929, 0.95731153]),
 'test_time': (0.10274791717529297,
  0.05684924125671387,
  0.08222699165344238,
  0.023940086364746094,
  0.014724016189575195)}

In [21]:
trainset = data.build_full_trainset()
svd.fit(trainset)

In [22]:
ratings[ratings['userId'] == 9041]

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

In [27]:
predictions = lambda x: svd.predict(x['userId'], x['movieId']).est

In [29]:
print(predictions)

<function <lambda> at 0x7f12542529e0>

In [24]:
# Import Keras libraries
from keras.callbacks import Callback, EarlyStopping, ModelCheckpoint
# Import CF Model Architecture
from CFModel import CFModel

ModuleNotFoundError: ignored

In [ ]:
# Define model
model = CFModel(max_userid, max_movieid, K_FACTORS)
# Compile the model using MSE as the loss function and the AdaMax learning algorithm
model.compile(loss='mse', optimizer='adamax')

In [ ]:
# Callbacks monitor the validation loss
# Save the model weights each time the validation loss has improved
callbacks = [EarlyStopping('val_loss', patience=2), 
             ModelCheckpoint('weights.h5', save_best_only=True)]

# Use 30 epochs, 90% training data, 10% validation data 
history = model.fit([Users, Movies], Ratings, nb_epoch=30, validation_split=.1, verbose=2, callbacks=callbacks)

In [ ]:
# Show the best validation RMSE
min_val_loss, idx = min((val, idx) for (idx, val) in enumerate(history.history['val_loss']))
print 'Minimum RMSE at epoch', '{:d}'.format(idx+1), '=', '{:.4f}'.format(math.sqrt(min_val_loss))

In [ ]:
# Use the pre-trained model
trained_model = CFModel(max_userid, max_movieid, K_FACTORS)
# Load weights
trained_model.load_weights('weights.h5')

In [ ]:
# Function to predict the ratings given User ID and Movie ID
def predict_rating(user_id, movie_id):
    return trained_model.rate(user_id - 1, movie_id - 1)

In [ ]:
# Define constants
K_FACTORS = 100 # The number of dimensional embeddings for movies and users
TEST_USER = 2000 # A random test user (user_id = 2000)

In [ ]:
user_ratings = ratings[ratings['user_id'] == TEST_USER][['user_id', 'movie_id', 'rating']]
user_ratings['prediction'] = user_ratings.apply(lambda x: predict_rating(TEST_USER, x['movie_id']), axis=1)
user_ratings.sort_values(by='rating', ascending=False).merge(movies, on='movie_id',how='inner', suffixes=['_u', '_m']).head(20)

In [ ]:
recommendations = ratings[ratings['movie_id'].isin(user_ratings['movie_id']) == False][['movie_id']].drop_duplicates()
recommendations['prediction'] = recommendations.apply(lambda x: predict_rating(TEST_USER, x['movie_id']), axis=1)
recommendations.sort_values(by='prediction',
                          ascending=False).merge(movies,
                                                 on='movie_id',
                                                 how='inner',
                                                 suffixes=['_u', '_m']).head(20)